fint:
  application-id: fint-flyt-isy-graving-gateway

logging:
  level:
    no.novari.cache.ehcache.FintEhCacheEventLogger: WARN
    no.novari.flyt.webresourceserver: TRACE
    org.springframework.security: DEBUG

server:
  error:
    include-message: always
  max-http-request-header-size: 40KB

spring:
  profiles:
    include:
      - flyt-kafka
      - flyt-logging
      - flyt-web-resource-server
      - flyt-file-web-client

  http:
    codecs:
      max-in-memory-size: 100MB

  output:
    ansi:
      enabled: always