apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: bfk-no

resources:
  - ../../../base

labels:
  - pairs:
      app.kubernetes.io/instance: flyt-isy-graving-gateway_bfk_no
      fintlabs.no/org-id: bfk.no

patches:
  - patch: |-
      - op: replace
        path: "/spec/kafka/acls/0/topic"
        value: "bfk-no.flyt.*"
      - op: replace
        path: "/spec/orgId"
        value: "bfk.no"
      - op: replace
        path: "/spec/url/basePath"
        value: "/bfk-no"
      - op: replace
        path: "/spec/ingress/basePath"
        value: "/bfk-no/api/isygraving/instances"
      - op: add
        path: "/spec/env/-"
        value:
          name: novari.kafka.topic.org-id
          value: "bfk-no"
    target:
      kind: Application
      name: flyt-isy-graving-gateway
